// Variable overrides first
$primary: #f38b66;
$secondary: #e09174;
$light: #f0efe6;
$enable-shadows: true;
$prefix: "mo-";
$font-size-root: 20px;
// Then import Bootstrap
//@import "../node_modules/bootstrap/scss/bootstrap.scss";

// custom code

:root {
  background-color: #f0efe6;
  background-image: url("../photos/backGround.png");
  background-attachment: fixed;
}

main {
  background-color: #f0efe6;
  font-family: "Quicksand", sans-serif !important;

  h1,
  h3 {
    text-align: center;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: calc(1.325rem + 0.9vw);
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    font-weight: bolder;
  }
}

section {
  background-image: url("../photos/backGround.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.error {
  color: #e35752;
}

.form-container,
.form-info {
  width: 500px;
  /* Ajusta este valor según sea necesario */
  transition: 0.5s ease-in-out;
}

.form-container {
  overflow: hidden;
  max-width: 0;
  max-height: 0;
}

.form-container.show {
  max-width: 500px;
  /* Ajusta este valor según sea necesario */
  max-height: 500px;
  border-style: solid;
  border-color: $secondary;
  border-radius: 8px;
}

.form-info {
  max-width: 500px;
  /* Ajusta este valor según sea necesario */
  max-height: 500px;
}

.form-info.hide {
  overflow: hidden;
  max-width: 0;
  max-height: 0;
}

.news-container img {
  max-width: 400px;
}

.nav-link.active {
  background-color: #f8f9fa;
  /* Color de fondo para el elemento activo */
  color: #0d6efd !important;
  /* Color del texto para el elemento activo */
  font-weight: bold;
}
